table {
  text-align: left;
  height: 100%;
  page-break-after: always;
}

tr {
  margin: 0;
}

/* min-height doesn't work on table cells, so we need a div */
div.accessibility {
  min-height: 4em;
}

th {
  width: 15%;
}

th, td {
  border: thin solid black;
  margin: 0;
  padding-left: 0.5em;
}
